*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 51px;
    background-color: rgb(249, 198, 13);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
h1{
    text-align: center;
    font-weight: bold;
    font-size: 41px;
    padding: 0px 30px;
    color: white;
}
.jokes-Box{
    width: 35%;
    background-color:black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 41px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(112, 111, 111);
}
.jokes-Box h1{
    font-size: 40px;
    margin-top: 20px;
}
.jokes-Box p{
    width: 80%;
    text-align: center;
}
#btn{
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 12px 20px;
    text-transform: capitalize;
    background-color:rgb(249, 198, 13) ;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Responsive Code */
@media(max-width:1000px){
    .jokes-Box{
        width: 45%;   
}
}
@media(max-width:750px){
    .jokes-Box{
        width: 55%;   
    }
}
@media(max-width:620px){
    .jokes-Box{
        width: 60%;   
    }
}
@media(max-width:500px){
    .jokes-Box{
        width: 77%;   
    }
}
@media(max-width:400px){
    .jokes-Box{
        width: 87%;   
    }
}